body {
    margin: 0;
    height: 100%;
    width: 100%;
}

/* CSS for Header Component */

.Header {
    display: flex;
    flex-direction: row;
    background-color: orange;
    flex: 1;
    justify-content: flex-start;
    margin: 0;
    position: relative;
    z-index: 10;
}

.Header img {
    width: 40px;
    height: 50px;
    padding: 10px 20px;
    margin-left: 40px;
}

.Header h1 {
    color: rgb(33, 51, 70);
    margin: 18px 0 15px 0;
}

/* CSS for Container */

.container {
    background-image: url("/images/bg_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.back {
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 5;
    padding: 0 0 20px 0;
}

/* CSS for Account Summary */
.AccountSummary {
    width: 350px;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: space-evenly;
}

.balance, .income, .expense {
    width: 100px;
    height: auto;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.balanceImage, .incomeImage, .expenseImage{
    margin: 0 !important;
    width: 100px;
    height: 100px;
    border-radius: 50pc;
    box-shadow: 0 0px 20px #a0a0a0;
}

.AccountSummary .balanceImage {background: rgb(64, 245, 245);}
.AccountSummary .incomeImage {background: #2ecc71;}
.AccountSummary .expenseImage {background: #f79287;}

.AccountSummary img {
    height: 50px;
    width: 50px;
    margin: 0;
    margin-top: 23px;
}

.AccountSummary h2 {
    margin: 20px 0 10px 0;
    width: auto;
}

.AccountSummary h4 {
    margin: 0;
    width: auto;
}

/* CSS for AddTransaction Component */

.NewTransaction fieldset {
    border: thin solid whitesmoke;
    border-color: whitesmoke;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description, .date, .time, .amount {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
    border: thin solid whitesmoke;
    box-shadow: 0 0 5px;
}

.amount input {
    height: 20px;
}

.NewTransaction input {
    width: 200px;
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    border: thin solid gray;
    padding: 2px 5px;
}

.add-btn, .calc-btn {
    width: 100%;
    margin: 0;
}

.NewTransaction button {
    width: 100%;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}

.NewTransaction .add-btn button {background-color: #2ba8be;}
.NewTransaction .calc-btn button {background-color: rgb(106, 214, 106);}

.NewTransaction img {
    width: 23px;
    height: 23px;
    padding-right: 10px;
}

.NewTransaction p {
    margin: 0;
    font-size: 12px;
    text-align: left;
}

/* CSS for TransactionHistory */

.noTransaction {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noTransaction img {
    width: 50px;
    height: 50px;
}

.TransactionHistory {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 350px;
    margin-top: 30px;
    border-color: whitesmoke;
}

.TransactionHistory ul {
    list-style: none;
    padding: 0;
    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 0 16px 0;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 3px;
}

.transactionItem {
    background-color: transparent;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    width: 310px;
    font-size: 16px;
    padding: 5px;
    box-shadow: 0 0 5px;
    margin: 10px 15px !important;
    border: thin solid whitesmoke;
}

.transactionItem:first-of-type {
    margin: 26px 15px 10px !important;
}

.plus:hover {
    border: thin solid #2ecc71 !important;
}

.minus:hover {
    border: thin solid #f86a5b !important;
}

.trans-amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-right: 15px; */
}

.trans-descrip, .trans-date {
    margin-left: 15px;
}

.trans-amount span {
    position: relative;
    right: -35px;
}

/* CSS for Delete Transaction Button  */
.del-btn {
    cursor: pointer;
    position: relative;
    top: -20px;
    right: -17px;
    background-color: transparent;
    color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: medium;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0;
    /* margin-left: 20px; */
}

.transactionItem:hover .del-btn {
    background-color: white;
    color: black;
    border: thin solid #f86a5b;
}

/* CSS for Edit Transaction Button  */
.edit-btn {
    cursor: pointer;
    position: relative;
    top: -20px;
    right: -15px;
    background-color: transparent;
    color: transparent;
    border-style: solid;
    border-color: transparent;
    border-width: medium;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0;
    visibility: hidden;
}

.edit-btn img {
    height: 10px;
    width: 10px;
}

.transactionItem:hover .edit-btn {
    background-color: white;
    color: black;
    border: thin solid #2ecc71;
    visibility: visible;
}

/* CSS for Footer Component */

.Footer {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
}

.Footer a {
    color: green;
}
